{% extends "base.html" %}
{% block title %} {{post.title}} {% endblock %}
{% block content %}
<h2>{{ post.title }}</h2>
<small>By: {{post.author.first_name}} {{post.author.last_name}} on {{post.date}}</small>
<br><br>
{{post.body}}
<br><br><br>
<a href="{% url 'edit-post' post.pk %}" class="btn btn-primary btn-sm">Edit</a>  <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger btn-sm">Delete</a>  <a href="{% url 'blog-home' %}" class="btn btn-secondary btn-sm">Back</a>
{% endblock content %}