{% extends "base.html" %}


{% block content %}
{% for post in object_list %}
    <div class="post-preview">
        <a href="post.html">
            <h3 class="post-title">
                <a href= "{% url 'article-page' post.pk %}" class="h3">{{post.title}}</a>
            </h3>
        </a>
        <p class="post-meta">Posted by {{post.author}} on {{post.date}}</p>
        <a href="{% url 'edit-post' post.pk %}" class="btn btn-primary btn-sm">Edit</a>   <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
    </div>
    <hr>
{% endfor %}

{% endblock content %}