{% extends "base.html" %}

{% block header %}
<h1>Clean Blog</h1>
<hr class="small">
<span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
{% endblock header %}



{% block content %}
{% for post in object_list %}
    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">
                <a href= "{% url 'article-page' post.pk %}">{{post.title}}</a>
            </h2>
        </a>
        <p class="post-meta">Posted by {{post.author}} on {{post.date}}</p>
    </div>
    <hr>
{% endfor %}

{% endblock content %}